@tailwind base;
@tailwind components;
@tailwind utilities;

/*noinspection CssInvalidPropertyValue*/
@layer base {
  :root {
    --toastify-color-info: theme('colors.primary') !important;
    --toastify-color-success: theme('colors.success') !important;
    --toastify-color-warning: theme('colors.warning') !important;
    --toastify-color-error: theme('colors.danger') !important;
  }

  html {
    height: -webkit-fill-available;
  }

  body {
    @apply bg-content1 text-content1-foreground;
    height: -webkit-fill-available;
  }
}

@layer components {
  .dangerHtml a {
    @apply text-primary hover:text-primary-600 transition-all hover:underline;
  }
}
